
# Caches, build output etc.
__pycache__/
/*.log
/*.log.json
/persistent-state.json
/.direnv

# My own stuff
/justfile
/.nvimrc.lua
/.envrc
/.secret

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml
